
.card{
    border-radius: .5rem;
    height: 30vh;
    overflow: hidden;
    position: relative;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 20px;
    /* opacity: 0; */
    /* transform: scale(0); */
}

.card.blue{
    background-image: linear-gradient(120deg, #5ff1fc 0%, #428ffa 100%);
}

/* .card.blue:hover {
    box-shadow: 0 0 8px #50bffb;
} */

.card.purple{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

/* .card.purple:hover {
    box-shadow: 0 0 8px #f273b0;
} */

.card.green{
    background-image: linear-gradient(to right, #25e264 0%, #23f0ca 100%);
}

/* .card.green:hover {
    box-shadow: 0 0 8px #24e788;
} */

.card.yellow{
    background-image: linear-gradient(120deg, #f7cc42 0%, #fa744e 100%);
}

/* .card.yellow:hover {
    box-shadow: 0 0 8px #f9994a;
} */

.card-body.card_body_white{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    z-index: 2;
    color: var(--white);
}

.card_body_white::before,
.card_body_white::after{
    content: "";
    width: 100px;
    height: 100px;
    border: solid 2px #fff;
    border-radius: 50%;
    z-index: 2;
    bottom: -15px;
    margin-left: 2px;
    transform-origin: center center;
    transform: scale(0);
    position: absolute;
}

.card:hover .card_body_white::after,
.card:hover .card_body_white::before{
    /* Анимация impulse */
}

.card:hover .card-image img{
    transform: scale(1.2);
}

.card:hover .card_body_white::after{
    animation-delay: .5s;
}

.card_clicker{
    display: inline-block;
    position: relative;
    margin-top: 25px;
}