.nav{
    width: 90%;
}

.nav_white .nav-item{
    color: var(--white);
}

.nav-item span{
    display: block;
    text-transform: uppercase;
}

.nav-item span i{
    margin-right: 10px;
}

.nav_white .nav-item::before{
    background: #fff;
}

.nav-item::before{
    content: "";
    border-radius: 50%;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: -250px;
    left: -300px;
    transform-origin: center center;
    transition: .8s ease-in-out;
    transform: scale(0);
    z-index: -1;
}

.nav .nav-item{
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    background: transparent;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 20px;
    width: 100%;
    z-index: 1;
    border-radius: 1.5rem;
    transition: color .8s ease-in-out;
    border: 2px solid transparent;
}

.nav .nav-item:hover{
    color: var(--blue);
}

.nav .nav-item:hover::before{
    transform: scale(1);
}
